meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Entorno Fisico 
meta(meta name="description" content="El entorno físico permite entender aspectos básicos de la mecánica clásica, leyes de Newton, termodinámica, acústica y óptica entre otros. Conviene subrayar que la física es una ciencia natural encargada de estudiar la materia y la energía del universo. En efecto, este estudio desarrolla la búsqueda de principios fundamentales que permiten describir los fenómenos que se puedan observar. Por medio de los principios fundamentales, la física ha tratado de explicar la existencia de los agujeros negros, la producción de impulsos eléctricos en el cuerpo humano, o la producción de energía en las termoeléctricas, entre otras cosas.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")