h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Magnitudes físicas', 'main.html#page/magnitudes/')
                    +navTemaItem('2', 'Mecánica clásica', 'main.html#page/mecanica/') 
                    +navTemaItem('3', 'Termodinámica', 'main.html#page/termodinamica/')
                    +navTemaItem('4', 'Electromagnetismo', 'main.html#page/electromagnetismo/')  
                    +navTemaItem('5', 'Óptica', 'main.html#page/optica/')
                    +navTemaItem('6', 'Naturaleza del sonido', 'main.html#page/sonido/')                        
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')