h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Describir el funcionamiento de los procesos teniendo en cuenta los ejes del entorno mecánico, termodinámico, electromagnético y ondulatorio.



