
.container
    .header-ecored
        h1 2. Mecánica clásica 
    #21        
    .jumbotron.bg-white
        p En este espacio, se describe el movimiento más simple: el movimiento rectilíneo y se introducen las magnitudes cinemáticas de: posición, velocidad y aceleración. 
    
        .sub-line.mt-5
            h2 2.1 Movimiento rectilíneo
        p Es importante diferenciar entre posición del móvil en un instante t y desplazamiento del móvil entre dos instantes: inicial t0 y final t.

        p La velocidad se calcula basado en la velocidad medida en varios intervalos de tiempo cada vez más pequeños. Esto nos permite recordar el concepto de la derivada de una función.
        p Por medio del registro de velocidad en función del tiempo, se calcula el desplazamiento del cuerpo entre el tiempo inicial t0 y el final t, lo cual permite recordar el concepto de integral definida. 
        p Finalmente, se estudian dos casos particulares que se describen a continuación:

   
        .header-arrow.my-5
            h3.text-center Movimiento rectilíneo uniforme

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img9.png").img-fluid 

            
        .header-arrow.my-5
            h3.text-center Movimiento rectilíneo uniformemente acelerado

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img10.png").img-fluid 
        
        p Sus ecuaciones son conocidas, y se utilizan con frecuencia. En la recta se da un origen, en donde habrá un observador que medirá la posición del cuerpo (x) en un tiempo determinado (t). Las posiciones serán positivas (si el cuerpo está a la derecha) o negativas (si el cuerpo está a la izquierda) con respecto al origen.


        .sub-title-line.mt-5
            h2 Magnitudes cinemáticas
        p Denominamos movimiento rectilíneo como aquel cuya trayectoria es una línea recta así:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img11.png").img-fluid 

        p En la recta, se da un origen, en donde habrá un observador que medirá la posición del cuerpo (x) en un tiempo determinado (t). Las posiciones serán positivas (si el cuerpo está a la derecha) o negativas (si el cuerpo está a la izquierda) con respecto al origen.

        .sub-title-line.mt-5
            h2 Posición de cuerpo 
        p Denominamos movimiento rectilíneo como aquel cuya trayectoria es una línea recta así:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img12.png").img-fluid 

        p Se denomina desplazamiento de posición (x) en un tiempo determinado (t).
        p La posición (x) del cuerpo está relacionado con el tiempo (t) por medio de la función x=f(t).  


        .sub-title-line.mt-5
            h2 Velocidad
        p La velocidad media entre los instantes t y t’ está definida por:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img13.svg").img-fluid 
        p Para calcular la velocidad en el instante (t), se debe hacer el intervalo de tiempo Δt lo más pequeño posible, cuando Δt tienda a 0. 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 

        p Lo anterior es la derivada de la función x con respecto al tiempo (t). El promedio de la velocidad se calcula en un tiempo Δt limitado. La velocidad instantánea en un intervalo de tiempo dado en Δt →0.


        .sub-title-line.mt-5
            h2 Aceleración
        p Se denomina aceleración al cambio o variación de velocidad v en un determinado tiempo t
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img32.png").img-fluid 

    #22
    .jumbotron.bg-white
        .sub-line
            h2 2.2 Casos particulares
        p.mb-0 En el estudio de la física se pueden especificar los movimientos que se describen a continuación:  


        .sub-title-line.mt-5
            h2 Movimiento rectilíneo uniforme
        p Se denomina movimiento rectilíneo a aquel movimiento que tiene velocidad constante y, por esto, aceleración nula. Se calcula la posición x de un cuerpo en un instante t, así: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img15.svg").img-fluid 

        p O gráficamente, teniendo a v en función de t, en consecuencia, v en función de t como se describe a continuación:

        .header-arrow.my-5
            h3.text-center Representación de la velocidad en función del tiempo 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img33.png").img-fluid  

        p Generalmente, el tiempo inicial (t0) se toma como 0. Con esto, las ecuaciones del movimiento rectilíneo uniforme resultan como: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img16.svg").img-fluid 


        .sub-title-line.mt-5
            h2 Movimiento rectilíneo uniformemente acelerado
        p Denominamos movimiento rectilíneo uniformemente acelerado a aquel que tiene una aceleración constante, por ende, se da un cambio en la velocidad v-v0 entre dos instantes t0 y t, mediante integración.

        p Se obtiene el desplazamiento x-x0 del cuerpo entre dos instantes t0 y t, teniendo en cuenta que la velocidad está en función del tiempo. Esto se puede realizar gráficamente (área-rectángulo+área-triángulo) o integrado:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img34.png").img-fluid 

        p Generalmente, el tiempo inicial (t0) se toma como 0. Las fórmulas del movimiento rectilíneo uniformemente acelerado, serían:

        p Si se despeja el tiempo t en la segunda ecuación y reemplazando en la tercera, se relaciona la velocidad v con el desplazamiento x-x0.
        
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img17.svg").img-fluid             

    #23
    .jumbotron.bg-white
        .sub-line
            h2 2.3 Caída libre
        p Los cuerpos dentro de la Tierra se mueven con aceleración constante g (gravedad). Para describir un movimiento, se deben tener en cuenta los siguientes pasos: 
        
        .row.justify-content-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/1.png").img-fluid 
            .col-12.col-md-2 
                p Establecer un sistema de referencias (origen y eje del movimiento).
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/2.png").img-fluid 
            .col-12.col-md-2  
                p Establecer el valor y el signo del movimiento.

            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/3.png").img-fluid 
            .col-12.col-md-2 
                p El valor y el signo de la velocidad inicial v0.

        .row.justify-content-center.mt-2
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/4.png").img-fluid 
            .col-12.col-md-2 
                p Establecer la posición inicial del cuerpo x0.

            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/5.png").img-fluid 
            .col-12.col-md-2  
                p Escribir las ecuaciones del movimiento.

            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/6.png").img-fluid 
            .col-12.col-md-2 
                p Teniendo en cuenta los datos dados, despejar las incógnitas.  

        p.mt-5 Un cuerpo es lanzado desde una montaña de altura x0 con velocidad v0, determinar las ecuaciones del movimiento, la altura máxima y el tiempo que tarda el cuerpo en alcanzar el origen situado en el suelo.

        .header-arrow.my-5
            h3.text-center Representación de caída libre

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img35.png").img-fluid 

        p Primero, se establece el origen y la dirección del movimiento (eje X). Luego, los valores y signos de la velocidad inicial y la aceleración, como se muestra en la figura. Obteniendo las siguientes ecuaciones: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img20.svg").img-fluid  

        p En el momento en que el cuerpo alcanza la altura máxima, su velocidad es igual a 0. Se puede obtener el tiempo que transcurre desde que se lanza hasta que llega esta posición por medio de la ecuación de la velocidad. El resultado de este se reemplaza en la ecuación de posición, obteniendo así, la altura máxima que alcanza el móvil medida desde el suelo. 


        img.img-a.my-5(src="assets/images/pages/ilustraciones/img21.svg").img-fluid 

        p Por medio de la ecuación de la posición se puede obtener el tiempo transcurrido en llegar al suelo (poniendo x-0), resolviendo así, una ecuación de segundo grado.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img22.svg").img-fluid           


        .sub-title-line.mt-5
            h2 Magnitudes cinemáticas
        p Supongamos, que el movimiento está dentro del plano XY. Se sitúa un origen y unos ejes. Se representa la trayectoria del cuerpo (conjunto de puntos por donde pasa el cuerpo). Las magnitudes que describen un movimiento curvilíneo son: 

        .header-arrow.my-5
            h3.text-center Vector de posición 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid 

        p La posición del cuerpo cambia con el tiempo. En el instante t, el cuerpo se encuentra en el punto P (.  ), y en el instante t’ se encuentra
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img36.png").img-fluid         
        p en el punto P’ (   ). Cuando el cuerpo se desplaza en el intervalo de tiempo de Δt=t’-t, la dirección del vector representa la secante que une a los puntos P y P’.

        .header-arrow.my-5
            h3.text-center Vector de velocidad

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img29.png").img-fluid  

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img23.svg").img-fluid 

        p El vector de velocidad media se define como el cociente entre el vector de desplazamiento () y el tiempo que ha transcurrido en el desplazamiento (Δt). El vector de la velocidad media y el vector del desplazamiento tienen la misma dirección entre los instantes t y t2, y de la secante que une los puntos P y P’. El vector de velocidad media y el de desplazamiento tienen la misma dirección, de aquí se obtiene la secante que une a los puntos P y P’. La dirección de la velocidad corresponde a la trayectoria del punto P en el instante t. 

        p Cuando el cuerpo está en el punto P’ en el instante t’, tiene una velocidad:
        
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img31.svg").img-fluid 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img24.svg").img-fluid 

        .header-arrow.my-5
            h3.text-center Vector de aceleración  

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img30.png").img-fluid 

        p En este instante, el cuerpo cambió, su velocidad tanto en módulo como en dirección está entendida en: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img25.svg").img-fluid
        
        p Se denomina aceleración al cociente entre el vector del cambio de velocidad y el intervalo de tiempo en el que se da dicho cambio. Y la aceleración en un instante, definida así:  

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img26.svg").img-fluid

        p En conclusión, las ecuaciones del movimiento curvilíneo en los ejes XY, son:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img27.svg").img-fluid 

        p Las ecuaciones de la primera fila son ecuaciones del movimiento rectilíneo en el eje X, mientras que las ecuaciones de la segunda fila pertenecen al movimiento rectilíneo en el eje Y. Un movimiento curvilíneo es el conjunto de los movimientos rectilíneos en los ejes coordenados.

    #24
    .jumbotron.bg-white
        .sub-line
            h2 2.4 Casos particulares
        p.mb-0 Algunos movimientos tienen procesos particulares, estos serán descritos a continuación:


        .sub-title-line.mt-5
            h2 Movimiento circular uniforme
        p Se denomina movimiento circular uniforme a aquel que tiene una velocidad angular ( ) constante, y su aceleración es nula. La posición angular () del móvil en el instante t, es: 
        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img37.png").img-fluid 

        p En la representación gráfica de la función t es su área. Generalmente, el tiempo inicial (t0) se toma como 0. Las ecuaciones del movimiento circular uniforme son similares al movimiento rectilíneo uniforme.
                         

        .sub-title-line.mt-5
            h2 Movimiento circular uniformemente acelerado
        p Se denomina movimiento circular uniformemente acelerado a aquel que tiene aceleración constante. Se obtiene la velocidad angular (-0) entre los instantes t0 y t gracias a la aceleración angular. A partir de la velocidad angular () se puede obtener el desplazamiento -0 del cuerpo entre los instantes t0 y representado gráficamente (área rectángulo +área triángulo), o integrado: 

        .header-arrow.my-5
            h3.text-center Representación movimiento circular uniformemente acelerado

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img38.png").img-fluid

        p Generalmente, el tiempo inicial (t0) es 0. Las fórmulas del movimiento curvilíneo uniformemente acelerado son similares a las del movimiento rectilíneo uniformemente acelerado, y se representan así:

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img39.svg").img-fluid
        img.img-a(src="assets/images/pages/ilustraciones/img40.svg").img-fluid        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img41.svg").img-fluid 

        p Se puede relacionar la velocidad angular con el desplazamiento del cuerpo despejando el tiempo en la segunda ecuación, y reemplazando en la tercera.  

        section.my-4

            a(href="https://bit.ly/2XD6Tv9" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/libro.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Consulte la biblioteca Digital</b>
                    p.mt-3 Medina, G. H. (2010). Física 1 

    #25
    .jumbotron.bg-white
        .sub-line
            h2 2.5 Leyes de Newton

        .row.justify-content-center.align-items-center.my-5
            .col-12.col-md-6            
                p <b>Isaac Newton</b> nació en Inglaterra, fue científico y escribió “Los principios matemáticos de la filosofía natural”, cuyo tema principal fueron sus leyes del movimiento. 

            .col-12.col-md-6
                img.img-a.mb-5(src="assets/images/pages/ilustraciones/img42.svg").img-fluid 

        p El movimiento se define como el desplazamiento que tienen los cuerpos en un espacio, frente a otro cuerpo, y es relativo, ya que depende de la posición del observador. La fuerza es la acción que tiene un cuerpo sobre otro y la masa es la magnitud que mide la cantidad de materia que tiene un cuerpo.   
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img44.jpg").img-fluid 

        .header-arrow.my-5
            h3.text-center Isaac Newton afirmó que todo movimiento está regido por tres leyes


        .sub-title-line.mt-5
            h2 Primera Ley de Newton             
        p Esta ley establece que todo cuerpo permanece en reposo o en movimiento rectilíneo uniforme, solo cuando una fuerza externa no actúe sobre este. En caso de que se presente un cambio de movimiento en el cuerpo, ese presentará resistencia. 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img43.jpg").img-fluid         
                         

        .sub-title-line.mt-5
            h2 Segunda Ley de Newton             
        p Esta ley establece que todo cuerpo permanece en reposo o en movimiento rectilíneo uniforme, solo cuando una fuerza externa no actúe sobre este. En caso de que se presente un cambio de movimiento en el cuerpo, este presentará resistencia.
        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img45.jpg").img-fluid

        p Esta ley establece que una fuerza no equilibrada actúe sobre un cuerpo, habrá una aceleración en la misma dirección que la fuerza. La aceleración es directamente proporcional a la fuerza, pero inversamente proporcional a la masa del cuerpo. Si la masa del cuerpo es constante, la fórmula de la segunda ley de Newton es: 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img46.png").img-fluid  

        p Pero, cuando la masa del cuerpo aumenta, la aceleración disminuye. En estos casos, se debe establecer la cantidad de movimiento (p) que es igual al producto de la masa del cuerpo por su velocidad. Así: p=mv. 
        p En el SI la cantidad de movimiento es medida por kg/s, ya que, la unidad para las la masa es el kilogramo, y para la aceleración es m/s2. Por esto: Fuerza (N) = masa (kg) x aceleración (m/s2).      


        .sub-title-line.mt-5
            h2 Tercera Ley de Newton             
        p Esta ley establece que todo cuerpo permanece en reposo o en movimiento rectilíneo uniforme, solo cuando una fuerza externa no actúe sobre este. En caso de que se presente un cambio de movimiento en el cuerpo, ese presentará resistencia.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img47.jpg").img-fluid 

        p Esta ley establece que, al ejercer una fuerza sobre un cuerpo, este responderá con una fuerza de igual magnitud y en dirección opuesta.
                                           