
.container
    .header-ecored
        h1 3. Termodinámica
    #31    
    .jumbotron.bg-white
        p Se reconoce como la parte de la física que estudia la acción mecánica del calor y las restantes formas de energía.
          
        .sub-line.mt-5
            h2 3.1 Conceptos básicos
        .header-arrow.my-5
            h3.text-center Conceptos básicos de Termodinámica

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3.px-3.py-3.text1.mx-2
                p.text-center <b>Calor</b>
                p En termodinámica, se denomina calor a la transferencia de energía entre dos o más sistemas 

            .col-12.col-md-3.px-3.py-3.text2.mx-2
                p.text-center <b>Equilibrio Termico</b>
                p Es el estado en el que las temperaturas de los cuerpos en contacto se equilibran, cuando inicialmente tenían temperaturas diferentes 

            .col-12.col-md-3.px-3.py-3.text3.mx-2
                p.text-center <b>Temperatura</b>
                p Es una magnitud física que indica la cantidad de calor que hay en un sistema 

    #32
    .jumbotron.bg-white
        .sub-line
            h2 3.2 Leyes de la termodinámica

        .sub-title-line.mt-5
            h2 Ley cero 
        p Esta ley indica que, si dos cuerpos están en equilibrio térmico con un tercer cuerpo, entonces también están en equilibrio entre sí. Esto establece la temperatura como una propiedad fundamental y medible de la materia.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img48.jpg").img-fluid 

          
        .sub-title-line.mt-5
            h2 Primera ley
        p Esta ley establece que el aumento total de energía en un sistema equivale al aumento de energía del mismo, además del trabajo ejercido. Esto propone que el calor es una forma de energía, y está relacionado con la conservación de la misma.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img49.jpg").img-fluid   
        
        .sub-title-line.mt-5
            h2 Segunda ley
        p Esta ley establece que el calor se puede transferir desde un sistema con una temperatura inferior hacia otro sistema con una temperatura mayor, sin más energía.

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img50.jpg").img-fluid

         
        .sub-title-line.mt-5
            h2 Tercera ley
        p Esta ley establece que la entropía de un cristal puro en absoluto es igual a 0. Esto quiere decir, la entropía generalmente se refiere a una energía residual, y que es capaz de realizar trabajo, y ya que no hay energía térmica en el 0 absoluto, no hay energía residual. La entropía también se puede referir a una medida del desorden de un sistema, y un cristal perfecto es considerado perfectamente ordenado, un aumento de temperatura en este significa movimiento dentro del cristal, lo que causaría el desorden. 

        img.img-a.my-5(src="assets/images/pages/ilustraciones/img51.jpg").img-fluid 

        p En conclusión, la termodinámica es una ciencia que se ha desarrollado durante seis siglos, cuyos principios se aplican a la mayoría de los dispositivos que se han inventado. Para profundizar la información lo invitamos a leer los capítulos 4, 6 y 7:
        section.my-4

            a(href="https://bit.ly/2XD6Tv9" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/libro.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Consulte la biblioteca Digital</b>
                    p.mt-3 Medina, G. H. (2010). Física 1                      


        