.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Aceleración:
            | magnitud derivada que indica la variación de velocidad por unidad de tiempo. En el Sistema Internacional de medidas, su unidad es “m/s²”
        
        p
            strong.mr-2 Dilatación:
            | ayuda mutua entre dos entidades o países para un bien común. 
        p 
            strong.mr-2 Distancia:
            | espacio de longitud que hay entre dos o más cuerpos. Su unidad en el Sistema Internacional son los metros (m).

        p
            strong.mr-2 Electricidad:
            | conjunto de fenómenos físicos relacionados con el flujo de energía.
        p 
            strong.mr-2 Fuerza:
            | magnitud vectorial que mide los cambios de movimiento o estructura en uno o más cuerpos. Su unidad en el Sistema Internacional es Newton (N).

        p 
            strong.mr-2 Ley de Hooke:
            | la ley de elasticidad de Hooke establece que la elongación que presenta un cuerpo es directamente proporcional a la fuerza que se le aplica al mismo.

        p 
            strong.mr-2 Ondas:
            | propagación de la perturbación en un cuerpo (con o sin materia), dando así un transporte de energía sin transporte de materia. 


        p 
            strong.mr-2 Peso:
            | medida en que la gravedad actúa sobre un cuerpo. Su unidad en el Sistema Internacional es Newton (N).

        p 
            strong.mr-2 Presión:
            | magnitud física que mide la proyección de una fuerza, en dirección perpendicular, por la superficie. Su unidad es Pascal (PA). 

        p 
            strong.mr-2 Trabajo:
            | desplazamiento de su punto de aplicación en la dirección de la fuerza.                                                         

        p 
            strong.mr-2 Velocidad:
            |magnitud física vectorial que establece la relación entre la distancia recorrida y el tiempo en el que se hace la acción. Su unidad en el Sistema Internacional es m/s. 

        p 
            strong.mr-2 Voltaje:
            | impulso que se les da a las cargas eléctricas para que fluyan en un circuito eléctrico.  

        p 
            strong.mr-2 Volumen:
            | magnitud física que describe el espacio de un cuerpo de forma tridimensional.                                   