.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody
                tr
                    td
                        strong Medina, G. (2010). Física 1. 
                    td Capítulos 2. 3 19 y 20 
                    td 
                        a(href="https://bit.ly/2XD6Tv9", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento

                tr                    

                    td
                        strong Pérez, M. H. (2014). Temas selectos de física 2. 
                    td Bloques 1 y 2
                    td 
                        a(href="https://bit.ly/2XcGp4I ", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento
                        
