include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
    
        +referenciaItem("Alonso, M & Finn, E. (1995) Física. Addison-Wesley Iberoamericana.", " ")

        +referenciaItem("Pérez, H. (2014). Física general. Grupo Editorial Patria.", " ")
        
        +referenciaItem("Sears, F. (1999). Física Universitaria. Vol. I y II, Pearson.", " ")
        
        +referenciaItem("Tippens, P. (1992). Física 1. México: McGraw-Hill Interamericana S. A.", " ")
        
        +referenciaItem("Tipler, P. (1983), Física. Ed. Reverté S.A.", " ")